.navbar {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 1440px;
  max-width: 100dvw;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.navbar-links a:hover {
  background-color: #444;
}

.logout-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: fit-content;
}

.logout-button:hover {
  background-color: #c82333;
}
@media (max-width: 768px) {
  .navbar-brand {
    /* display: none; */
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    display: none;
  }
  .navbar-links{
    width: 100%;
    justify-content: space-between;
  }
}
